section.type-stairs__about.sec-pt
	.container
		h2.about__title.title-44 Бетонная лестница – что может<br> быть прочнее?
		p.about__descr Самые бесшумные и долговечные лестницы делают на бетоне. В таком исполнении они служат десятилетиями без ремонта. <i>«Бетон берет на себя всю динамическую нагрузку и ступени остаются неподвижными, поэтому срок их службы увеличивается в 2-3 раза»</i>
		.about__wrapper.flex
			a.about__img(href="img/type-stairs-page/about.jpg" data-fancybox='gal-type-stairs-page-about' style ="background:url('img/type-stairs-page/about.jpg') center no-repeat; background-size: cover")
			.about__text
				span.about__text_title НО
				p.about__text_descr Важно понимать, что изготовление и их обшивка деревом требует высочайшей квалификации. Игнорирование правил способно привести к развитию непредвиденных ситуаций, и даже обрушению.
				p.about__text_descr Авторская «Студия Лестниц» занимается индивидуальным проектированием и изготовлением <strong>бетонных лестниц в доме</strong>.
				p.about__text_descr Процесс работы сопровождается использованием современного технического оснащения, что является гарантом абсолютной безопасности и длительного срока эксплуатации. Мы занимаемся этим уже 12 лет и имеем нужный опыт и специалистов.

