section.type-stairs__advantage.sec-pt
	.container
		h2.advantage__title.title-44 Преимущества бетонных<br> лестниц
		p.advantage__descr <strong>Бетонные лестницы на второй этаж</strong> характеризуются массой ключевых достоинств. Основными преимуществами выступают:
		.advantage__wrapper.flex
			.advantage__wrapper_img.flex
				a.advantage__img(href="img/type-stairs-page/advantages1.png" data-fancybox='gal-type-stairs-page-types' style ="background:url('img/type-stairs-page/advantages1.png') center no-repeat; background-size: cover")
				span длительный срок эксплуатации
			.advantage__wrapper_img.flex
				a.advantage__img(href="img/type-stairs-page/advantages2.png" data-fancybox='gal-type-stairs-page-types' style ="background:url('img/type-stairs-page/advantages2.png') center no-repeat; background-size: cover")
				span высокий уровень огне и влагостойкости
			.advantage__wrapper_img.flex
				a.advantage__img(href="img/type-stairs-page/advantages3.png" data-fancybox='gal-type-stairs-page-types' style ="background:url('img/type-stairs-page/advantages3.png') center no-repeat; background-size: cover")
				span защита от коррозии
			.advantage__wrapper_img.flex
				a.advantage__img(href="img/type-stairs-page/advantages4.png" data-fancybox='gal-type-stairs-page-types' style ="background:url('img/type-stairs-page/advantages4.png') center no-repeat; background-size: cover")
				span презентабельный внешний вид
		p.advantage__descr Конструкция подойдет для помещения любого типа и станет его основной изюминкой.
		p.advantage__descr Заказать высококачественные лестницы от производителя можно в «Студии Лестниц». Авторский подход в сочетании с многолетним опытом направлен на создание эксклюзивной модели, подобия которой не существует.
		p.advantage__descr Каждая конструкция тщательно проектируется и изготавливается в условиях полного технического оснащения.