section.type-stairs__callback.sec-pt
	.container
		h2.callback__title.title-44 Наши консультанты помогут Вам сделать выбор
		.callback__wrapper.flex
			p.callback__descr Выбираете лестницу? Оставьте заявку, и мы предложим вам несколько вариантов
			a.callback__btn.button(href="") Перезвоните мне


//- комментарии в секциях