section.type-stairs__manufacturer
	.container
		.manufacturer__wrapper.flex
			.manufacturer__text
				h2.manufacturer__text_title.title-44 Бетонные лестницы<br> от производителя
				p.manufacturer__text_descr Производим бетонные лестницы на заказ. Работаем по договору в четко установленные сроки. Гарантируем высокое качество и выполнение всех пожеланий клиента. Используем экологически чистые материалы.
				a.manufacturer__text_btn.button.button--arrow(href="") Получить расчет
			.manufacturer__img
				a(href="img/type-stairs-page/manufacturer.png" data-fancybox='gal-manufacturer')
					img.img(src="img/type-stairs-page/manufacturer.png", alt="")
		a.manufacturer__text_btn.manufacturer__text_btn--mobile.button.button--arrow(href="") Получить расчет