section.type-stairs__offer.sec-pt
	.container
		.offer__wrapper.flex(style="background: url('img/type-stairs-page/offer_bg.jpg') center no-repeat")
			img(src="img/type-stairs-page/offer_icon.png", alt="")
			p.offer__descr Цена на лестницу из бетона рассчитывается в индивидуальном порядке, согласно сложности, материалам и дизайну проекта. Гарантируем, что она останется фиксированной. Никаких доплат и скрытых платежей.
		p.offer__descr Мы работаем по ГОСТам и СНиПам четко соблюдая технологию производства. У нас собственный цех большой площади с высокотехнологичным оборудованием. Сплоченный коллектив со значительным опытом работ. Благодаря этому, мы знаем, как достигнуть желаемого результата и выполнить все прихоти клиентов. Беремся за любые заказы, проявляя все свое творчество и мастерство.
		a.offer__btn.button(href="") Рассчитать проект