section.type-stairs__produce.sec-pt.sec-bg
	.container
		h2.produce__title.title-44 На основе чего мы изготавливаем лестницы<br> из бетона?
		.produce__wrapper.flex
			.produce__item.flex
				img.produce__item_img(src="img/type-stairs-page/produce1.png", alt="")
				span.produce__item_title Экологически чистые материалы
				p.produce__item_descr Используем нетоксичные вещества для обработки. Проверяем высокое качество сырья
			.produce__item.flex
				img.produce__item_img(src="img/type-stairs-page/produce2.png", alt="")
				span.produce__item_title Полная безопасность
				p.produce__item_descr Тщательная проработка проекта позволяет с уверенностью сказать, что для детей они будут абсолютно безопасны.
			.produce__item.flex
				img.produce__item_img(src="img/type-stairs-page/produce3.png", alt="")
				span.produce__item_title Точное соблюдение мерок
				p.produce__item_descr Полное соответствие дизайну и размерам помещения. Лестница впишется как влитая.