section.type-stairs__production.sec-pt.sec-bg
	.container
		h2.production__title.title-44 Процесс производства лестницы<br> из бетона
		.production__wrapper.flex
			.production__item.flex
				img.production__item_img(src="img/type-stairs-page/production1.png", alt="")
				a.production__item_link(href="") Оформление заявки.
				p.production__item_descr Согласование дизайна.
			.production__item.flex
				img.production__item_img(src="img/type-stairs-page/production2.png", alt="")
				p.production__item_descr Расчет стоимости. Согласование сроков.
			.production__item.flex
				img.production__item_img(src="img/type-stairs-page/production3.png", alt="")
				p.production__item_descr Выполнение заказа по четко соблюдаемой технологии.
			.production__item.flex
				img.production__item_img(src="img/type-stairs-page/production4.png", alt="")
				p.production__item_descr Установка лестницы на объект.
			.production__item.flex
				img.production__item_img(src="img/type-stairs-page/production5.png", alt="")
				p.production__item_descr Сдача работы и оплата.