section.type-stairs__reasons.sec-pt.sec-bg
	.container
		h2.reasons__title.title-44 6 причин почему мы
		.reasons__wrapper.flex
			.reasons__item
				p.reasons__item_descr Гарантия на лестницы из бетона — 
					span 25 лет.
			.reasons__item
				p.reasons__item_descr Гарантия на ступени и ограждения — 
					span 7 лет.
			.reasons__item
				p.reasons__item_descr Соблюдение установленных сроков.
			.reasons__item
				p.reasons__item_descr Адекватные цены.
			.reasons__item
				p.reasons__item_descr В наличии готовые изделия и на заказ.
			.reasons__item
				p.reasons__item_descr Предлагаем несколько вариантов исполнения