section.type-stairs__types.sec-pt.sec-bg
	.container
		h2.types__title.title-44 Виды и описание конструкций
		p.types__descr Примечательно, что стандартные конструкции из бетона подразделяются на несколько видов. Так, лестницы бывают:
		.types__wrapper.flex
			.types__wrapper_img.flex
				a.types__img(href="img/type-stairs-page/types1.png" data-fancybox='gal-type-stairs-page-types' style ="background:url('img/type-stairs-page/types1.png') center no-repeat; background-size: cover")
				span монолитными
			.types__wrapper_img.flex
				a.types__img(href="img/type-stairs-page/types2.png" data-fancybox='gal-type-stairs-page-types' style ="background:url('img/type-stairs-page/types2.png') center no-repeat; background-size: cover")
				span винтовыми
			.types__wrapper_img.flex
				a.types__img(href="img/type-stairs-page/types3.png" data-fancybox='gal-type-stairs-page-types' style ="background:url('img/type-stairs-page/types3.png') center no-repeat; background-size: cover")
				span маршевыми
			.types__wrapper_img.flex
				a.types__img(href="img/type-stairs-page/types4.png" data-fancybox='gal-type-stairs-page-types' style ="background:url('img/type-stairs-page/types4.png') center no-repeat; background-size: cover")
				span парящими
			.types__wrapper_img.flex
				a.types__img(href="img/type-stairs-page/types5.png" data-fancybox='gal-type-stairs-page-types' style ="background:url('img/type-stairs-page/types5.png') center no-repeat; background-size: cover")
				span консольными
		p.types__descr Монолитная лестница устанавливается непосредственно на месте последующей эксплуатации. В ее основе лежит бетон М300, который заливается в ранее заготовленную опалубку с армированием.
		p.types__descr Они способны принимать любую форму: маршевые, спиральные, по дуге. Получили широкое распространение в частных домах благодаря надежности и разнообразному дизайну. В каждом районе Тюмени мы установили и обшили деревом несколько таких изделий на заказ.
