// General
.about-frame
  p
    font-size: 16px
    font-family: $subfont-g
    padding: 5px 0
    line-height: 21px
    color: #222222
  img
    width: 100%
    height: 100%
    object-fit: cover

// Begin
.about-frames__about
  margin-top: 40px
  .h1,.h2
    font-family: arial, tahoma
    margin: 0
    text-align: center
  .h1
    font-size: 32px
  .h2
    font-size: 24px

  .abouts
    margin: 15px 0
    padding: 10px 0
