.about-frames__articles
  .articles_list
    .articles_list-item
      max-width: 31%
      flex-basis: 31%
      margin: 0 1% 70px
      @media (max-width : 991px)
        max-width: 46%
        flex-basis: 46%
        margin: 0 2% 70px
      @media (max-width : 767px)
        max-width: 100%
        flex-basis: 100%
        margin: 0 2% 70px

      a
        display: block
      img
        max-height: 234px
        height: 100%
      h3
        margin-top: 15px
        color: #1a203c
        font-size: 24px
        font-family: $subfont-b
      p
        color: #222222
        font-family: $subfont-g 

  // Request
  .request
    .n-container
      padding: 50px 0
      display: flex
      p
        max-width: 50%
        flex-grow: 50%
        margin-right: 60px
        color: #3286aa
        font-size: 20px
        font-weight: 600
        font-family: $subfont-g
      .n-button
        max-width: 280px
        flex-grow: 280px

      @media (max-width : 991px)
        flex-direction: column
        align-items: center
        text-align: center
        p
          max-width: 60%
          flex-grow: 60%
          margin-right: 0
      @media (max-width : 767px)
        p
          max-width: 90%
          flex-grow: 90%
