.about-frames__types-frames
  padding-bottom: 50px
  .frames_list
    margin: 50px 0 20px
    justify-content: space-between

    .frames_list-item
      max-width: 31%
      flex-grow: 31%
      margin-bottom: 70px
      text-align: center
      @media (max-width : 991px)
        max-width: 48%
        flex-grow: 48%
      @media (max-width : 767px)
        max-width: 100%
        flex-grow: 100%
        margin-bottom: 80px

      a
        display: block
        height: 200px
      img
        margin-bottom: 10px
      span
        font-size: 24px
        font-family: $subfont-b

  .black-text
    p
      margin: 0 0 10px
      color: #000
      a
        color: #ff8562
