.open-frame__description
	// Description
	.description_list
		margin-top: 35px
		margin-bottom: 95px

		h3
			font-size: 18px
			color: #222222

		&-item
			padding-top: 45px
			padding-bottom: 45px
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			border-top: 1px solid #dcdcdc
			border-bottom: 1px solid #dcdcdc

			span
				max-width: 30%
				flex-basis: 30%
				color: $l-blue
				font-size: 24px
				font-weight: 700
				font-family: $subfont-b
			p
				max-width: 70%
				flex-basis: 70%
				font-weight: 400
				font-family: "Geometria"

			@media (max-width : 767px)
				span, p
					max-width: 100%
					flex-basis: 100%
				span
					margin-bottom: 25px
