.open-frame__photos
  // Photos
  .photos
    .left_right
      justify-content: space-between
      margin-bottom: 25px
      @media (max-width : 991px)
        flex-direction: column

      .left,.right
        max-width: 49%
        flex-grow: 49%
        @media (max-width : 991px)
          max-width: 100%
          flex-basis: 100%
      .left
        height: 660px
        align-self: stretch
        @media (max-width : 991px)
          margin-bottom: 25px
          height: 450px
        a
          width: 100%
          height: 100%
      .right
        height: 660px
        flex-direction: column
        justify-content: space-between
        a
          max-height: 48%

    .bottom
      justify-content: space-between
      margin-bottom: 35px
      a
        max-width: 49%
        flex-grow: 49%
      @media (max-width : 991px)
        flex-direction: column
        a
          max-width: 100%
          flex-grow: 100%
          margin-bottom: 25px

  .order
    padding-top: 50px
    padding-bottom: 30px
    p
      margin-bottom: 15px
      font-size: 24px
      font-weight: 700
      font-family: arial, tahoma
    a.n-button
      margin: 0 auto
      width: 316px
      font-size: 16px
      text-decoration: none

      @media (max-width : 374px)
        width: 90%
