// General
.open-frame
  .eighty
    width: 80%
    margin: 0 auto
    @media (max-width : 767px)
      width: 95%

  p
    font-weight: 300
    color: #222222

  img
    width: 100%
    height: 100%
    object-fit: cover

.open-frame__review
  margin-top: 75px
  font-family: $subfont-g

  // Begin
  .title
    font-size: 36px
    font-family: $subfont-b
    text-transform: uppercase

  .review-img
    margin: 60px 0

  .review
    p
      margin: 30px 0
