.about
	// background: red
	img
		width: 100%

	.about__row.flex.nasir
		justify-content: space-between

	.master
		width: 43%

		@media (max-width: 991px)
			display: none

		img
			height: 100%
			object-fit: cover

	.about_desc
		width: 53%
		display: flex
		justify-content: space-between
		flex-direction: column

		@media (max-width: 991px)
			width: 100%

		.logo_who-i
			margin-top: 15px
			display: flex
			align-items: flex-end
			justify-content: space-between
			text-align: right

			.logo
				width: 50px

			.who_am_i
				a.soc
					width: 30px
					display: inline-block
				p
					margin-top: 5px
					margin-bottom: 0
					margin-left: 10px
					font-size: 21px
					font-weight: 500
					display: inline-block
				span
					display: block
					font-style: italic

	.description
		margin-top: 65px
		position: relative

		&::before
			content: ''
			display: block
			width: 39px
			height: 31px
			background-image: url('../img/home/quote.png')
			background-size: contain
			position: absolute
			top: -40px
			left: 0
		&::after
			content: ''
			display: block
			width: 39px
			height: 31px
			background-image: url('../img/home/quote.png')
			background-size: contain
			transform: rotate(180deg)
			position: absolute
			bottom: -40px
			right: 0

		@media (max-width: 778px)
			width: 90%
			margin: 65px auto 25px

	.button.nasir
		margin-top: 30px
		@media (max-width: 991px)
			margin: 30px auto 0

	// ADAPTIVE
	.left_right

		.right.master-tablet
			display: none
			width: 60%
			height: 100%

			img
				width: 100%
				height: 100%
				object-fit: cover
				object-position: center top

			@media (max-width: 991px)
				display: block

		.master-mobile
			display: none

		@media (max-width: 991px)
			height: 460px
			display: flex
			justify-content: space-between

			.left
				width: 35%
				.logo_who-i
					flex-direction: column
					align-items: flex-start
					justify-content: space-between
					.logo
						width: 150px
						margin-bottom: 35px

		@media (max-width: 768px)
			height: auto

			.left
				width: 100%
				.logo_who-i
					align-items: flex-end
					.logo
						margin: 0 auto
						width: 60px

			.right.master-tablet
				display: none

			.master-mobile
				display: block
				width: 100%
				margin: 15px auto
