.portfolio
	color: #fff
	padding-bottom: 40px
	&__row
		justify-content: space-between
	&__col
		flex: 0 0 48.5%
		max-width: 48.5%
		margin-bottom: 28px
		&-df
			justify-content: space-between
	&__img-block
		justify-content: space-between
		&--flex
			flex: 0 0 48.5%
			max-width: 48.5%
	&__img
		position: relative
		overflow: hidden
		//min-width: 261px
		a
			position: relative
			display: block
			height: 100%
		img
			width: 100%
			object-fit: cover
		&-col
			flex: 0 0 48%
			max-width: 48%		
			margin-bottom: 28px
			img
				min-height: 280px
				height: 280px
			&--100
				flex: 0 0 100%
				max-width: 100%						
				img
					min-height: 280px
					height: 280px
		&--big
			height: 100%
			max-height: 588px
			img
				min-height: 280px
				height: 100%
				max-height: 589px
		&:hover
			.portfolio__overlay
				transform: translateY(0)
	&__headline
		position: absolute
		color:#fff
		background: rgba(#000,0.5)
		bottom: 0
		width: 100%
		padding: 15px
		letter-spacing: 0.5px
		font-family: $subfont-b
		font-size: 18px
		
	&__name
		font-family: $subfont-b
		font-size: 20px
		letter-spacing: 0.5px
		position: relative
		//display: inline-block
		margin-bottom: 15px
		&::before
			content: ''
			position: absolute
			bottom: -5px
			left: 0
			width: 70px
			height: 4px
			background: $subaccent
	&__overlay
		transition: all 0.5s
		position: absolute
		left: 0
		top: 0
		bottom: 0
		right: 0
		background: rgba(#000,0.7)
		transform: translateY(-100%)
		&-descr
			a
				padding: 20px 10px
		&-link
			padding: 0.7em 1.8em
			width: 100%
	&__consult
		flex: 0 0 48.5%
		max-width: 48.5%
		background: $accent
		padding: 30px 12px
		max-height: 589px
		&-h3
			margin-bottom: 20px
		&-logo
			justify-content: center
			margin-bottom: 40px
			a
				display: block
				width: 49px
	&__btn
		font-size: 18px
		padding: 1em 1em
		margin: 50px 0 0 
		&:hover
			background: #fff
			color: $accent
	&__txt
		font-size: 20px
		&--tdu
			text-transform: uppercase
	&__city
		font-size: 18px
		text-transform: none
		font-family: $default-font
		display: block
		padding: 0
		list-style-type: none
		li
			position: relative
			padding-left: 10px
			margin-bottom: 3px
			&::before
				content: ''
				position: absolute
				top: 10px
				left: 0
				width: 5px
				height: 5px
				background: $subaccent
				
	&-btn-more
		margin: 0 auto 20px
		display: none
		max-width: 290px
		font-size: 14px
		text-transform: uppercase
		padding: 0.8em 1.8em
	
		
@media only screen and (max-width : 1199px)
	.portfolio
		&__row
			justify-content: center
		&__col
			flex: 0 0 552px
			max-width: 552px
			margin-bottom: 28px
		&__img
			&--big
				height: 100%
				max-height: 460px

@media only screen and (max-width : 575px)
	.portfolio
		&__col
			flex: 0 0 100%
			max-width: 100%
		&__img-block--flex
			flex: 0 0 100%
			max-width: 100%
		&__img
			&--big
				height: 100%
				max-height: 300px
		&__consult
			flex: 0 0 290px
			max-width: 290px
			margin-left: auto
			margin-right: auto
		&__headline
			display: none
		&__overlay
			transform: translateY(0)
			&-descr a
				padding: 10px

@media only screen and (max-width : 480px)
	.portfolio
		&__img-col
			flex: 0 0 100%
			max-width: 100%