.production
	position: relative
	min-height: 760px

	.production__link,
	.production__btn
		display: none

	a.production__link,
	a.production__left_link
		font-size: 20px
		color: $l-blue
		text-decoration: underline

	.production__btn.button,
	.production__left_btn.button
		margin-top: 45px
		background: $white
		&:hover
			background: $accent
			color: $white

.production__row
	padding-top: 15px
	min-height: 495px

.production__left
	flex: 0 0 45%
	padding-right: 15px

	a.production__left_link
		display: block
		margin-top: 40px

.production__right
	flex: 0 0 50%
	padding: 30px
	background-color: $accent
	color: $white
	position: absolute
	max-width: 1015px
	left: 46.8%

.production__top
	margin-bottom: 40px
	display: flex
	max-width: 670px

.production__top_text
	padding-right: 10px

.production__content
	display: flex
	gap: 10px
	height: 270px
	.production__content_img
		width: 190px
		height: 270px
		object-fit: cover

.production__content_wrapper
	display: flex
	flex-direction: column
	gap: 6px
	.production__content_img
		width: 204px
		height: 132px
		object-fit: cover

.production__bottom
	display: flex
	padding-right: 40%
	gap: 40px

// MEDIA
@media (min-width : 1229px) and (max-width : 1599px)
	.production__bottom
		padding-right: 0

@media (max-width : 1229px)
	.production
		.production__link
			display: flex
			justify-content: center
			margin-top: 35px

		.production__btn.button
			display: flex
			margin-top: 22px
			margin-bottom: 80px
			margin-left: auto
			margin-right: auto

	.production__row
		padding-top: 35px
		row-gap: 25px
	.production__left
		flex: auto
		a.production__left_link,
		.production__left_btn
			display: none

	.production__right
		flex: auto
		position: static
		left: 0

		.production__top
			max-width: 820px

		.production__bottom
			padding-right: 16%

// @media (max-width : 991px)

@media (max-width : 767px)
	.production__content
		display: none

	.production__bottom
		padding-right: 0
		flex-wrap: wrap

// @media (max-width : 575px)

@media (max-width : 480px)
	.production
		.container
			width: 100%
			padding-left: 0
			padding-right: 0

		.production__left
			padding-left: 15px

		.production__bottom_link
			padding-left: 15px
			padding-right: 15px

		a.production__link
			font-size: 18px

	.production__row
		padding-top: 15px

// @media (max-width : 374px)
