.steps
	background: $accent
	padding-bottom: 45px
	&__title
		color: $white
	&__row
		justify-content: space-between
	&__item
		flex: 0 0 33.3%
		max-width: 33.3%
		padding: 0 15px
		margin-bottom: 50px
		color: $white
		&:nth-child(2),
		&:nth-child(5)
			border-left: 1px solid rgba(#cccccc,0.5)
			border-right: 1px solid rgba(#cccccc,0.5)
		&-top
			justify-content: space-between
			align-items: center
			margin-bottom: 20px
	&__number
		color: $white
		font-family: $subfont-b
		font-size: 30px
		text-transform: uppercase
	&__time
		background: url(../img/time.png) no-repeat center left
		font-size: 16px
		opacity: 0.5
		color: #fff
		padding-left: 25px
	&__h3
		margin-bottom: 5px
		line-height: 1.2


@media only screen and (max-width : 1199px)
	.steps
		&__txt
			font-size: 17px



@media only screen and (max-width : 991px)
	.steps
		padding-bottom: 0
		&__item
			flex: 0 0 50%
			max-width: 50%
			padding: 0 10px
			&:nth-child(2),
			&:nth-child(4),
			&:nth-child(6)
				border-left: 1px solid rgba(#f9f9f9,0.2)
				border-right: none
			&:nth-child(5)
				border: none




@media only screen and (max-width : 575px)
	.steps
		&__row
			justify-content: center
		&__item
			flex: 0 0 320px
			max-width: 320px
			padding: 0 10px
			margin-bottom: 40px
			&:nth-child(2),
			&:nth-child(4),
			&:nth-child(6)
				border: none
			&:nth-child(5)
				border: none
			&-top
				margin-bottom: 10px
		&__number
			font-size: 24px
		&__h3
			br
				display: none


@media only screen and (max-width : 375px)
	.steps
		&__item
			flex: 0 0 290px
			max-width: 290px
			margin-bottom: 30px
			&-top
				margin-bottom: 5px
		&__number
			font-size: 20px
		&__txt
			font-size: 16px
