section.metal-frame__begin.metal-frame.sec-pt
  .container.n-container.flex
    .left
      h1.title1 Лестницы на металлокаркасе часто заказывают в частные дома.
      p Лестница на металлическом каркасе в частный дом — популярное решение в современном загородном домостроении.
      p На данном примере объекта в Тюмени покажем процесс изготовления лестницы начиная с первой стадии проектирования лестницы.
      p На фото с объекта вы увидите все этапы строительства начиная с проекта. Затем изготовление металлического каркаса лестницы и после этого выполнения обшивки установка чистовых ступеней и перил.
    
    .right
      a(href="img/metal-frame/img1.jpg", data-fancybox="gal-type-stairs")
        img(src="img/metal-frame/img1.jpg", alt="").img.border-right
