section.metal-frame__color.metal-frame.sec-pt
  .container.n-container
    h2.title-44 Цвет элементов отделки #[br] железного каркаса

    .frames.flex
      .left
        .desc
          p Покраска элементов обшивки лестницы выполнена двухцветной: тёмные ступени и белые подступенки. Этот способ позволяет сделать лестницу более контрастной и яркой. Подчеркнуть её красоту.
          p Столбы также выполнены в белом цвете это классическое решение для такого стиля.
        .desc
          p Ступени лестницы выполнены из массива дуба рустика. Для лестниц в американском стиле принято использовать твердые породы на ступени и окрашивать их в цвет темный орех. А для того чтобы придать контраст лестницы американские столбы окрашены в белый цвет. В сочетании с металлическими балясинами создают запоминающиеся внешний вид, а также обеспечивают полную безопасность ограждение для детей и домашних животных.
        .desc
          p Жесткость и устойчивость конструкции получились на высочайшем уровне.
          p Лестница вписалась в интерьер идеально и полностью соответствует пожеланиям хозяев дома и концепции дизайна в целом.

      .right
        a(href="img/metal-frame/img4.jpg", data-fancybox="gal-type-stairs")
          img(src="img/metal-frame/img4.jpg", alt="").img
