section.metal-frame__consultation.metal-frame.sec-pt.sec-bg
  .container.n-container.flex
    .left
      a(href="img/metal-frame/img5.jpg", data-fancybox="gal-type-stairs")
          img(src="img/metal-frame/img5.jpg", alt="").img.border-right

    .center.tac
      h2.title-44 Изготовление лестниц на металлическом каркасе
      p Компания Студия лестниц имеет большой опыт в проектировании и изготовлении лестниц такого типа. Если вы хотите лестницу на металлокаркасе и внешний вид не как у всех то обращайтесь к нам. Мы с радостью выполним ваши пожелания сделаем дизайн-проект лестницы согласуем все детали и выполним лестницу в оговоренный срок. Вы получите результат в точности так как на картинке.
      a(href="#").button.n-button Получить консультацию

    .right
      a(href="img/metal-frame/img6.jpg", data-fancybox="gal-type-stairs")
          img(src="img/metal-frame/img6.jpg", alt="").img.border-left
