section.metal-frame__popularity.metal-frame.sec-pt
  .container.n-container
    h2.title-44 Популярность такого типа конструкции каркаса
    p Более 80% всех лестниц загородные дома изготавливают по такой технологии. Мы производим лестницы на металлическом каркасе на собственном оборудовании.
    p Наша студия имеет свой металлоцех и своё столярное производство на одной территории. Это позволяет нам делать лестницы под ключ и выполнять все работы с постоянным контролем качества и в минимальные сроки.
    .number
      p Хотите получить консультацию от специалиста и расчет стоимости? Наш телефон #[a(href="tel:+73452718030") (3452)71-80-30], позвоните, мы на связи с 09:30 до 18:00!
