section.metal-frame__process.metal-frame.sec-pt.sec-bg
  .container.n-container
    h2.title-44 Ход работ по изготовлению #[br] лестницы и каркаса
    p На этом объекте нами был выполнен металлический каркас лестницы из закрытого типа с подступенками. Отделку каркаса было решено выполнить в классическом американском стиле использовать деревянные ограждения и металлические балясины.
    p Металлические балясины в стиле минимализм обеспечивают безопасность изделия и запоминающийся внешний вид.

    .images.flex
      a(href="img/metal-frame/img2.png", data-fancybox="gal-type-stairs")
        img(src="img/metal-frame/img2.png", alt="").img
      a(href="img/metal-frame/img3.jpg", data-fancybox="gal-type-stairs")
        img(src="img/metal-frame/img3.jpg", alt="").img
