section.metal-frame__result.metal-frame.sec-pt
  .container.n-container
    h2.title-44 Как выглядит результат обшивки #[br] металлического каркаса.
    p Хозяева дома очень довольны. Лестница располагается прямо возле входа является значимой частью интерьера. Самый крупный предметам в прихожей это лестница. Она привлекает внимание и выглядит статусной.

    .left_right.flex
      .left
        p Обратная связь от хозяев дома положительная, их гости уже оценили по достоинству их выбор. Даже не специалисту с первого взгляда понятно что перед ним изделие высокого качества в профессиональном исполнении.
        p Внешний вид лестницы создает впечатление аристократичного изделия. Двухцветная покраска позволяет выделить лестницу сделать её контрастной. Столбы белого цвета поручни белого цвета а заполнение металлические стойки с эффектом бронзовой краски, вписалась интерьер идеально.
        p Белый цвет соответствует цветам других элементов в интерьере данного дома и образует единый дизайн прихожей с лестницей. Этот проект выполнен на заказ для частного дома в Тюмени.
      .right
        a(href="img/metal-frame/img7.jpg", data-fancybox="gal-type-stairs")
            img(src="img/metal-frame/img7.jpg", alt="").img
    
    .request.flex
      p Для чтобы заказать такую лестницу от производителя вы можете оставить заявку #[br] на сайте компании Студия лестниц и наш специалист свяжется с вами
      a(href="#").button.n-button Оставить заявку
