.metal-frame-all__blue-sec
  padding-bottom: 70px
  background-color: $l-blue
  .n-container
    justify-content: center
    align-items: center
    p
      width: 70%
      color: #ededed
      text-align: center
      font-size: 30px
      opacity: .7
      font-weight: 300
      font-family: $default-font
      @media (max-width : 767px)
        width: 100%
