.metal-frame-all__call-back
  padding-bottom: 70px

  .title
    font-size: 24px
    font-weight: 700
    font-family: Arial, tahoma

  .call
    margin-top: 50px
    justify-content: flex-start
    p
      font-size: 20px
      @include f-width(60%)
    a
      @include f-width(280px)

    // Media
    @media (max-width : 767px)
      flex-direction: column
      align-items: center
      p
        text-align: center
        @include f-width(100%)
