.metal-frame-all__child
  padding-bottom: 70px
  position: relative
  &::before
    content: ''
    display: block
    width: 350px
    height: 350px
    background: center / contain no-repeat url('../img/metal-frame-all/puziri.png')
    z-index: 1
    position: absolute
    right: 10%
    bottom: 0
    transform: rotate(90deg)

  .n-container
    justify-content: space-between
    height: 600px
    position: relative
    z-index: 1

    &::before
      content: ''
      display: block
      width: 400px
      height: 400px
      border-radius: 50%
      background-color: $l-blue
      opacity: .7
      z-index: 2
      position: absolute
      top: 0
      left: -250px
    &::after
      content: ''
      display: block
      width: 200px
      height: 200px
      border-radius: 50%
      background-color: $l-blue
      opacity: .7
      z-index: 2
      position: absolute
      top: -12%
      left: 31%
    p
      margin-top: 15px
      font-size: 18px
      line-height: 30px

    .left,.right
      @include f-width(45%)
    .right
      .h2
        position: relative
        padding-bottom: 10px
        &::before
          content: ''
          display: block
          width: 100px
          height: 4px
          background-color: $l-blue
          position: absolute
          left: 0
          bottom: 0
          @media (max-width : 991px)
            left: 50%
            margin-left: -50px

  @media (max-width : 991px) // n-container
    &::before
      display: none
    .n-container
      text-align: center
      height: auto
      flex-direction: column-reverse
      &::before, &::after
        display: none

      .left, .right
        @include f-width(100%)
      .left
        margin-top: 35px
