.metal-frame-all__desc
  padding-bottom: 70px
  @media (max-width : 480px)
    padding-bottom: 0
  .n-container
    margin-top: 10px
    justify-content: center

    .left,.right
      max-width: 50%
      flex-grow: 50%
      margin: 0 30px
    .left
      width: 320px
      height: 425px
      z-index: 1
      position: relative
      &::before
        content: ''
        display: block
        width: 300px
        height: 300px
        background-color: $l-blue
        position: absolute
        top: -30px
        left: -100px
        z-index: -1
        opacity: .7

    .right
      .h2
        position: relative
        padding-bottom: 30px
        &::before
          content: ''
          display: block
          width: 100px
          height: 4px
          background-color: $l-blue
          position: absolute
          left: 0
          bottom: 0
          z-index: -1
      p
        margin-top: 15px
        font-size: 20px
        color: #8a8787
        line-height: 30px

  @media (max-width : 991px)
    .n-container
      .left,.right
        margin: 0 5px
        max-width: 45%
        flex-grow: 45%
      .right
        .h2
          padding-bottom: 10px
        p
          font-size: 14px
          line-height: 20px

  @media (max-width : 767px)
    .n-container
      flex-direction: column-reverse
      align-items: center
      .left,.right
        max-width: 100%
        flex-grow: 100%
      .right
        margin-bottom: 60px
        .h2
          &::before
            left: 50%
            margin-left: -50px
