@mixin f-width($width)
  max-width: $width
  flex-grow: $width
// General
.metal-frame-all
  .n-container
    @media (max-width : 374px)
      width: 100%
  p
    font-family: $subfont-g
  .h2
    color: #1a203c
    font-size: 44px
    font-weight: 700
    font-family: $subfont-b
  img
    width: 100%
    height: 100%
    object-fit: cover
  .text-blue
    color: $l-blue
    font-size: 18px
    font-weight: 700

  // Media
  @media (max-width : 767px)
    .n-container
      width: 90%
      @media (max-width : 480px)
        width: 100%
    .h2
      text-align: center
