.metal-frame-all__main
  .main
    height: 100vh
    color: #fff
    flex-direction: column
    align-items: center
    justify-content: center
    background-size: cover
    background-position: center
    background-attachment: fixed
    position: relative
    z-index: 1

    &::before
      content: ''
      display: block
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-color: #000
      opacity: .7
      z-index: -1

    .h1
      font-size: 50px
      font-weight: 400
      font-family: $subfont-b
      position: relative
      text-align: center
      padding: 0 15px 50px
      &::before
        content: ''
        display: block
        position: absolute
        width: 150px
        height: 2px
        left: 50%
        margin-left: -75px
        bottom: 0
        background-color: #fff

    p
      text-align: center
      width: 65%
      font-size: 22px
      font-weight: 300
      font-family: $default-font
      @media (max-width : 480px)
        width: 90%
