.metal-frame-all__more
  .title-32
    font-size: 32px
    padding-left: 15px
    padding-right: 15px
    color: #000
    font-family: arial, tahoma
    font-weight: 600
    @media (max-width : 480px)
      font-size: 24px
  .n-container
    padding-bottom: 70px
    .h2
      margin-bottom: 20px
      margin-left: 85px
    & > p
      width: 80%
      margin-bottom: 50px
      margin-left: 85px
      @media (max-width : 767px)
        width: 100%
      @media (max-width : 480px)
        text-align: center
    .left_right
      justify-content: center
      .left
        max-width: 30%
        flex-grow: 30%
        height: 100%
      .right
        max-width: 55%
        flex-grow: 55%
        ul
          list-style: none
          counter-reset: number
          li
            margin-bottom: 25px
            padding-left: 60px
            position: relative
            &::before
              content: counter(number)
              counter-increment: number
              display: block
              width: 50px
              height: 50px
              color: #222222
              font-size: 20px
              font-weight: 700
              line-height: 50px
              text-align: center
              font-family: Arial, sans-serif
              border-radius: 50%
              border: 2px solid $l-blue
              position: absolute
              top: 0
              left: 0
            h4
              margin-bottom: 5px
              color: #222222
              font-size: 20px
              font-family: Arial, sans-serif
            p
              color: #000
              font-size: 15px
              // font-weight: 300
              font-family: $subfont-g
              line-height: 25px
              @media (max-width : 480px)
                text-align: center

    @media (max-width : 1229px)
      .left_right
        flex-direction: row-reverse
        justify-content: space-between
        .left
          max-width: 40%
          flex-grow: 40%

    @media (max-width : 991px)
      .left_right
        flex-direction: column-reverse
        align-items: center
        .right
          max-width: 100%
          flex-grow: 100%
        .left
          max-width: 60%
          flex-grow: 60%

    @media (max-width : 767px)
      .h2, & > p
        margin-left: 0

      .left_right
        .right
          ul
            padding: 0
            li
              padding-left: 0
              padding-top: 60px
              &::before
                top: 0
                left: 50%
                margin-left: -25px
              h4
                text-align: center
        .left
          max-width: 100%
          flex-grow: 100%
