.metal-frame-all__of-what
  padding-top: 100px
  padding-bottom: 70px
  background-color: #000
  position: relative
  z-index: 1
  &::before, &::after
    content: ''
    display: block
    width: 440px
    height: 265px
    background-color: $l-blue
    border-radius: 20px
    opacity: .5
    z-index: -1
    position: absolute
    @media (max-width : 767px)
      width: 220px
      height: 130px

  &::before
    left: 13%
    bottom: 20%
  &::after
    top: 5%
    right: 5%

  .n-container
    .left
      @include f-width(55%)
      .h2,p
        color: #fff
      p
        margin-top: 30px
        font-family: $subfont-g
        font-size: 20px
        line-height: 35px
        // font-weight: 300
    .right
      max-height: 500px
      @include f-width(35%)

    @media (max-width : 991px)
      justify-content: space-between
    @media (max-width : 767px)
      flex-direction: column
      align-items: center
      .left,.right
        @include f-width(100%)
      .right
        margin-top: 50px
        max-height: 100%


@media (max-width : 480px)
  .metal-frame-all__of-what
    padding-top: 50px
    &::after
      content: normal
  .metal-frame-all p
    text-align: center