.metal-frame-all__rough-metal
  margin-bottom: 70px
  p
    font-family: $subfont-g
  .left_right
    margin-top: 50px
    align-items: center
    justify-content: space-between
    .left
      @include f-width(35%)
    .right
      @include f-width(60%)
      p
        line-height: 30px

    @media (max-width : 991px)
      flex-direction: column-reverse
      .left
        margin-top: 35px
        @include f-width(70%)
      .right
        @include f-width(100%)

    @media (max-width : 767px)
      .left
        @include f-width(100%)
