.metal-frame-all__steps
  padding-bottom: 70px
  .h2
    margin-bottom: 3  5px
    span
      color: rgb(34, 37, 122)

  .steps-list
    align-items: flex-start
    flex-direction: column
    position: relative
    &::after
      content: ''
      display: block
      width: 3px
      height: 100%
      background-color: #dcdcdc
      position: absolute
      left: 50%
      margin-left: -2px
      z-index: -1
      @media (max-width : 767px)
        display: none

    &_item
      text-align: right
      position: relative
      @include f-width(50%)
      &::before
        content: ''
        display: block
        width: 15px
        height: 15px
        background-color: $l-blue
        border-radius: 50%
        position: absolute

      &:nth-child(odd)
        text-align: left
        align-self: flex-end
        padding-left: 20px
        &::before
          left: -8px

      &:nth-child(even)
        padding-right: 20px
        &::before
          right: -8px
      &:last-child
        &::after
          @extend .steps-list_item::before
          bottom: 0
          @media (max-width : 767px)
            display: none

      span
        color: #000
        font-size: 22px
        font-weight: 700
        font-family: Arial, sans-serif
      p
        font-size: 15px
        line-height: 1.55

    @media (max-width : 767px) // .steps-list
      &_item
        align-items: center
        @include f-width(100%)

        &:nth-child(odd), &:nth-child(even)
          padding: 20px 0 45px
          text-align: center
          align-self: flex-end
          &::before
            top: 0
            left: 50%
            margin-left: -7px
