/* ----- footer ----- */
.footer
	padding-top: 50px
	// padding-bottom: 30px
	min-height: 350px
	background-color: $accent
	font-family: $subfont-g
	font-size: 16px
	color: $white
	li
		list-style: none

.footer__content
	justify-content: space-between
	padding-bottom: 30px

.footer__logo_img
	width: 70px
	height: 122px

.footer__social_title
	margin-top: 20px

.footer__social_link
	display: flex
	align-items: center
	justify-content: center
	margin-top: 10px
	margin-right: 10px
	width: 32px
	height: 32px
	background-color: #161b33
	border-radius: 100%

.footer__social_icon
	width: 20px
	height: 20px

.footer__item
	display: flex
	flex-direction: column
	flex: 1 0 280px
	.footer__item_title
		margin-bottom: 20px
		text-transform: uppercase
	.footer__item_list
		padding-left: 0
		li
			margin-bottom: 15px

.footer__bottom
	min-height: 80px
	padding-top: 15px
	padding-bottom: 15px
	background-color: #161b33
	justify-content: center
	align-items: center
	gap: 60px
	.footer__bottom__item
		flex-direction: column
	.footer__bottom_link
		text-decoration: underline
	.footer__bottom_descr
		font-size: 13px
		margin-top: 5px

@media (max-width: 991px)
	.footer__social
		justify-content: center
		margin-bottom: 30px
	.footer__item
		text-align: center
	.footer__bottom
		text-align: center
