.cd-popup
	position: fixed
	z-index: 999
	left: 0
	top: 0
	height: 100%
	width: 100%
	background-color: rgba(0,0,0,0.6)
	display: block
	opacity: 0
	visibility: hidden
	transition: opacity 0.3s 0s, visibility 0s 0.3s
	&.is-visible
		opacity: 1
		visibility: visible
		transition: opacity 0.3s 0s, visibility 0s 0s

.cd-popup-container
	position: relative
	height: 100%
	background: rgba(0,0,0,0.1)
	border-radius: .25em .25em .4em .4em
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2)
	// Force Hardware Acceleration in WebKit
	-webkit-backface-visibility: hidden
	-webkit-transition-property: -webkit-transform
	transition-property: transform
	transition-duration: 0.3s
.cd-popup-container .cd-popup-close
	position: absolute
	top: 8px
	right: 8px
	width: 30px
	height: 30px
	background: white
	border-radius: 50%
	&::before, &::after
		content: ''
		position: absolute
		top: 13px
		width: 18px
		height: 4px
		background-color: #000
	&::before
		transform: rotate(45deg)
		left: 6px
	&::after
		transform: rotate(-45deg)
		right: 6px

.img-replace
	// replace text with an image
	display: inline-block
	overflow: hidden
	text-indent: 100%
	color: #000
	white-space: nowrap

.popupContainerWrap
	background: $white
	color: $accent
	padding: 50px 40px 30px
	position: relative
	max-width: 560px
	margin: 0 auto
	@media (max-width : 376px)
		padding: 50px 15px 30px


.simplebar-content
	display: flex
	justify-content: center
	align-items: center
/* popup end */


.popup-title
	text-align: center
	margin-bottom: 12px
	font-weight: 400
.popup-subtitle
	text-align: center

.cd-popup
	.my_form input:not([type="submit"])
		flex: 0 0 100%
		max-width: 100%
		margin-bottom: 20px
		border: 1px solid #c9c9c9
		border-radius: 5px
		padding: 15px 15px
	.my_form input[type="submit"]
		flex: 0 0 100%
		max-width: 100%
		margin: 0
		font-size: 16px
		text-transform: uppercase
	.my_form textarea
		width: 100%
		flex: 0 0 100%
		max-width: 100%
		margin-bottom: 20px
		min-height: 100px
		//resize: none
		border: 1px solid #c9c9c9
		border-radius: 5px
		padding: 15px 15px

body.is-not-scroll
	overflow-y: hidden
.policy__agree
	margin: 20px 0 0 0
	text-align: center
	font-size: 16px
	line-height: 1.55
	@media (max-width : 374px)
		font-size: 14px
	a
		color: #ff8562

