//ABOUT BEGIN
section.about.sec-pt
	.container
		.about__row.flex.nasir
			//- Фото для пк
			.master
				img(src="img/home/about-master.jpg", alt="")
			//- Блок с описанием
			.about_desc
				.left_right
					.left
						//- Заголовок
						.about__title.title1 О КОМПАНИИ
						.logo_who-i
							//- Лого
							img(src="img/home/logo.svg", alt="").logo
							//- Фото для телефонов
							.master-mobile
								img(src="img/home/about-master.jpg", alt="")
							//- Имя и т.д.
							.who_am_i
								a(href="#").soc
									img(src="img/home/fb.png", alt="")
								p Александр Друганов
								span Основатель и руководитель компании
					
					//- Фото для планшетов
					.right.master-tablet
						img(src="img/home/about-master.jpg", alt="")

				.description
					p Рад приветствовать вас на нашем сайте. Меня зовут Александр Друганов, я строитель по образованию, несколько лет проработал в крупной компании по производству лестниц и дверей. В 2008 году я открыл «Студию лестниц».
					p Что волнует наших заказчиков, успешных людей, которые построили дом и очередь дошла до лестницы на второй этаж?
					p Кого-то сроки изготовления, кого-то выбор материала, другим сложнее определиться с дизайном, всем важна точность расчетов и безопасность использования.
					p В «Студии лестниц» собственное производство, и специалисты с опытом работы и мы знаем, как решить проблемы наших клиентов.
				a(href="#").button.nasir.cd-popup-trigger-order-js Отправить заявку на расчет
//ABOUT END
