section.portfolio.sec-pt.sec-bg
	.container
		h2.title.portfolio__title.title1 КАТАЛОГ нашей #[br]продукции 
		.portfolio__row.flex
			.portfolio__col
				.portfolio__img-block.flex
					.portfolio__img.portfolio__img-col.portfolio__img--active
						a(href='#')
							img(src='img/home/portf1.jpg' alt='')
							.portfolio__headline ДЕРЕВЯННЫЕ ЛЕСТНИЦЫ
						.portfolio__overlay.flex
							.portfolio__overlay-descr
								a(href='#')
									h3.portfolio__name
										| ДЕРЕВЯННЫЕ ЛЕСТНИЦЫ
									ul.portfolio__city 
										li Деревянные ограждения.
										li Стеклянные ограждения.
										li Кованые ограждения.
										li Ограждения из нержавеющей стали.
										li Леерные ограждения с тросами.
						// /.portfolio__overlay
					.portfolio__img.portfolio__img-col.portfolio__img--active
						a(href='#')
							img(src='img/home/portf2.jpg' alt='')
							.portfolio__headline МЕТАЛЛИЧЕСКИЕ ЛЕСТНИЦЫ
						.portfolio__overlay.flex
							.portfolio__overlay-descr
								a(href='#')
									h3.portfolio__name
										| МЕТАЛЛИЧЕСКИЕ ЛЕСТНИЦЫ
									ul.portfolio__city 
										li Лестницы на косоуре.
										li Лестницы на монокосоуре.
										li Консольные лестницы.
										li Винтовые лестницы.
										li Модульные лестницы.
						// /.portfolio__overlay
				.portfolio__img.portfolio__img--active.portfolio__img-col--100
					a(href='#')
						img(src='img/home/portf3.jpg' alt='')
						.portfolio__headline БЕТОННЫЕ ЛЕСТНИЦЫ
					.portfolio__overlay.flex
						.portfolio__overlay-descr
							a(href='#')
								h3.portfolio__name
									| БЕТОННЫЕ ЛЕСТНИЦЫ
								ul.portfolio__city 
									li Бетонные лестницы на монокосоуре.
									li Отделка деревом.
									li Кованые ограждения.
									li Ограждения из стекла.
									li Ограждения из нержавеющей стали.
									li Лестницы на монолитном бетонном основании.
					// /.portfolio__overlay
			.portfolio__col
				.portfolio__img.portfolio__img--big
					a(href='#')
						img(src='img/home/portf4.jpg' alt='')
						.portfolio__headline ОТДЕЛКА ЛЕСТНИЦ КАМНЕМ
					.portfolio__overlay.flex
						.portfolio__overlay-descr
							a(href='#')
								h3.portfolio__name
									| ОТДЕЛКА ЛЕСТНИЦ КАМНЕМ
								ul.portfolio__city 
									li Гранит.
									li Оникс.
									li Мрамор.
									li Травертин.
									li Гранитная плитка.
									li Сланцевая плитка.

					// /.portfolio__overlay
			.portfolio__col
				.portfolio__img.portfolio__img--big
					a(href='#')
						img(src='img/home/portf5.jpg' alt='')
						.portfolio__headline ОГРАЖДЕНИЯ: ДЕРЕВО, ЛИТЬЕ, НЕРЖАВЕЮЩАЯ СТАЛЬ
					.portfolio__overlay.flex
						.portfolio__overlay-descr
							a(href='#')
								h3.portfolio__name
									| ОГРАЖДЕНИЯ: ДЕРЕВО, ЛИТЬЕ, НЕРЖАВЕЮЩАЯ СТАЛЬ
								ul.portfolio__city 
									li Деревянные балясины и столбы.
									li Кованые балясины и столбы. 
									li Литые ограждения.
									li Ограждения из нержавеющей стали.
									li Стеклянные ограждения.
									li Декоративные решетки.
									li Акриловые балясины.
									
										

					// /.portfolio__overlay
			.portfolio__col.portfolio__col-df.flex
				.portfolio__img-block.portfolio__img-block--flex
					.portfolio__img.portfolio__img-col.portfolio__img-col--100
						a(href='#')
							img(src='img/home/portf6.jpg' alt='')
							.portfolio__headline СТЕКЛЯННЫЕ ЛЕСТНИЦЫ
						.portfolio__overlay.flex
							.portfolio__overlay-descr
								a(href='#')
									h3.portfolio__name
										| СТЕКЛЯННЫЕ ЛЕСТНИЦЫ
									ul.portfolio__city 
										li Установка кованого ограждения для лестницы из мрамора.
										li Эскизы работ дизайнера нашей компании.

						// /.portfolio__overlay
					.portfolio__img.portfolio__img-col.portfolio__img-col--100
						a(href='#')
							img(src='img/home/portf7.jpg' alt='')
							.portfolio__headline ХУДОЖЕСТВЕННАЯ КОВКА
						.portfolio__overlay.flex
							.portfolio__overlay-descr
								a(href='#')
									h3.portfolio__name
										| ХУДОЖЕСТВЕННАЯ КОВКА
									ul.portfolio__city 
										li Установка кованого ограждения для лестницы из мрамора.
										li Эскизы работ дизайнера нашей компании.

				.portfolio__consult.tac
					.portfolio__consult-logo.flex
						a.logo(href='#')
							img.img(src='img/home/logo_footer.svg' alt='')
					h3.h3.h3--bold.portfolio__consult-h3 ХОТИТЕ ЗАКАЗАТЬ НОВУЮ ЛЕСТНИЦУ ДЛЯ ДОМА ИЛИ ОФИСА?
					h3.h3.h3--bold.portfolio__consult-h3 не знаете с чего начать?
					p.portfolio__txt
						| Напишите нам!
						br
						| Наши специлисты свяжутся с вами в кратчайшие сроки и проконсультируют по всем вопросам абсолютно 
						span.portfolio__txt--tdu бесплатно!
					a.button.button--white.portfolio__btn.cd-popup-trigger-consult-js(href='#') Хочу проконсультироваться