section.hero
	.container
		.hero__row.flex
			.hero__colL
				h1.hero__title Нужна лестница #[br]на второй этаж?
				h2.hero__subtitle Предложим 3 варианта дизайна #[br] и комплектации для выбора на#[br] ваш вкус и бюджет
				a.hero__btn--desc.hero__btn.button.button--arrow.cd-popup-trigger-consult-js(href="#") Получить консультацию
				.hero__adv.flex
					mixin hero__adv-item(imageName,txt="Какой-то текст")
						.hero__adv-item
							.hero__adv-icon
								img.img(src="img"+ "/home/" + imageName)
							.hero__adv-txt= (txt)
					+hero__adv-item("eco01.png","Экологически чистые материалы для лестниц")
					+hero__adv-item("children01.png","Безопасность для детей и пожилых людей.")
					+hero__adv-item("stairs01.png","Точность в размерах. 3-D сканер. Без рисков")

			.hero__slider.hero__colR
				.rev_slider-wrap.rev_slider
					a.rev_slider-btn.button.cd-popup-trigger-order-js(href="#") ЗАКАЗАТЬ ПРОЕКТ
					.rev_slider-js
						mixin revslider(imageName)
							.rev_slide 
								.rev_slide-img
									a(href="img"+ "/home/" + imageName,data-fancybox="slider-hero")
										img(src="img"+ "/home/" + imageName, alt="")
						+revslider("slide1.jpg")
						+revslider("slide2.jpg")
						+revslider("slide3.jpg")
						+revslider("slide4.jpg")
				a.hero__btn--mobi.hero__btn.button.button--arrow.cd-popup-trigger-consult-js(href="#") Получить консультацию