//PRODUCTION BEGIN
section.production.sec-pt
	.container
		.production__title.title1 ПРОИЗВОДСТВО
		.production__row.flex
			.production__left
				p.production__left_text Сейчас в нашей команде работает 12 человек. Каждый из них знает и любит свое дело. У нас нет текучки, люди приходят и остаются, находя себя в команде единомышленников
				p.production__left_text Я умею и люблю работать руками сам, поэтому мне легко контролировать работу других. К этому быстро привыкают и брак у нас это исключение. Поэтому у нас принято работать на совесть, даже если никто не наблюдает за тобой.
				p.production__left_text Наш цех это 430 кв.м, оборудованных всем необходимым для качественной обработки дерева и металла. Современная покрасочная камера позволяет красить дерево с четким соблюдением технологии и температурного режима.
				a.production__left_link(href="https://yadi.sk/i/lS1mZ4CdX4dM0A" target="blank") СКАЧАЙТЕ ПРЕЗЕНТАЦИЮ О НАШЕМ ПРОИЗВОДСТВЕ (pdf, 2.42 мб)
				a.production__left_btn.button.cd-popup-trigger-order-js Отправить заявку на расчет
			.production__right
				.production__top
					.production__top_text
						h3.production__top_title.title-30 профессионализм
						p.production__top_descr Мы знаем все о производстве, монтаже и эксплуатации лестниц, различных форм и модификаций
						h3.production__top_title.title-30 ДЕМОКРАТИЧНЫЕ ЦЕНЫ
						p.production__top_descr Благодаря собственному производству мы удерживаем стоимость изготовления лестниц в доступных рамках
					.production__content
						a(href="img/home/production_1.png" data-fancybox='gal-production')
							img.production__content_img(src="img/home/production_1.png", alt="Фото производства")
						.production__content_wrapper
							a(href="img/home/production_2.png" data-fancybox='gal-production')
								img.production__content_img(src="img/home/production_2.png", alt="Фото производства")
							a(href="img/home/production_3.png" data-fancybox='gal-production')
								img.production__content_img(src="img/home/production_3.png", alt="Фото производства")
				.production__bottom
					.production__bottom_wrapper
						h3.production__bottom_title.title-30 ИНДИВИДУАЛЬНЫЙ ПОДХОД
						p.production__bottom_descr Мы предлагаем каждому из наших клиентов оптимальные варианты решений по лестницам
					.production__bottom_wrapper
						h3.production__bottom_title.title-30 КОНТРОЛЬ
						p.production__bottom_descr Мы тщательно отслеживаем качество изделий на всех этапах производства
		.production__bottom_link
			a.production__link(href="https://yadi.sk/i/lS1mZ4CdX4dM0A" target="blank") СКАЧАЙТЕ ПРЕЗЕНТАЦИЮ О НАШЕМ ПРОИЗВОДСТВЕ<br> (pdf, 2.42 мб)
			a.production__btn.button.cd-popup-trigger-order-js Отправить заявку на расчет

//PRODUCTION END