section.open-frame__description.open-frame
  .container
    .description_list.eighty
      h3 Описание лестницы:
      .description_list-item
        span Каркас:
        p Металлический каркас открытого типа из профильной трубы, окрашен в серебристый цвет с эффектом «металлик».
      .description_list-item
        span Ступени:
        p Ступени толщины 40 мм, выполнены из массива березы, покрыты паркетным лаком.
      .description_list-item
        span Цвет:
        p Цвет ступеней выбран под цвет ламината «светлый орех» и отлично вписывается в интерьер дома.
      .description_list-item
        span Ограждения:
        p Ограждения необычной конструкции выполнены отдельными балясинами из нержавеющей стали. Круглый поручень из массива березы окрашен в цвет ступеней
      .description_list-item
        span Стоимость:
        p Стоимость данной лестницы на металлическом каркасе и ступенями из березы составила 240 т.р с учетом всех монтажных работ.
