section.open-frame__photos.open-frame
  .container
    .photos
      .left_right.flex
        .left
          a(href="img/open-frame/img2.jpg", data-fancybox="gal-type-stairs")
            img(src="img/open-frame/img2.jpg", alt="").img
        .right.flex
          a(href="img/open-frame/img3.jpg", data-fancybox="gal-type-stairs")
            img(src="img/open-frame/img3.jpg", alt="").img
          a(href="img/open-frame/img4.jpg", data-fancybox="gal-type-stairs")
            img(src="img/open-frame/img4.jpg", alt="").img
      
      .bottom.flex
        a(href="img/open-frame/img5.jpg", data-fancybox="gal-type-stairs")
          img(src="img/open-frame/img5.jpg", alt="").img
        a(href="img/open-frame/img6.jpg", data-fancybox="gal-type-stairs")
          img(src="img/open-frame/img6.jpg", alt="").img
    
    .order.tac
      p Заказать лестницу открытого типа на профильной трубе
      a(href="#").button.n-button  Заказать аналогичный проект 
