section.open-frame__review.open-frame.sec-pt
  .container
    h2.title.tac Лестница открытого типа на профильной трубе, СНТ Лесная поляна
    img(src="img/open-frame/img1.png", alt="").img.review-img

    .review.eighty
      p Добрый день! Мой отзыв о лестнице. Когда проектировался этот дом общее семейное мнение было такое что дом будет использоваться некоторое время в качестве дачи сезонного проживания, то есть он будет замораживаться на зиму. Поэтому для нас было общее решение что лестница, которую мы хотим должна быть открытого типа чтобы она вентилировалось чтобы не было в углах воздушных мешков и чтобы она долго служила нам.
      p Ну и естественно эстетический вид, она должна была быть легкой воздушной в 2019 году летом мы обратились в Студию лестниц и благодаря профессионализму работников этой фирмы и руководящему составу мы получили такую лестницу как мы хотели. Наша семья лестницей довольна, и мы желаем им удачи и дальнейшей работы этой компании
      
