footer.footer
	.container
		.footer__content.flex
			.footer__item
				a.footer__logo_link(href="#")
					img.footer__logo_img(src="img/home/logo_footer.svg", alt="")
				span.footer__social_title  Мы в соц.сетях
				.footer__social.flex
					a.footer__social_link(href="https://vk.com/studialestnic")
						img.footer__social_icon(src="img/home/vk.png", alt="")
					a.footer__social_link(href="https://www.facebook.com/studiya72")
						img.footer__social_icon(src="img/home/fb.png", alt="")
					a.footer__social_link(href="https://www.instagram.com/studiya_lestnits/")
						img.footer__social_icon(src="img/home/insta.png", alt="")
					a.footer__social_link(href="https://www.youtube.com/channel/UC_W6vWiT9rCZvCcf8zW7hHQ")
						img.footer__social_icon(src="img/home/youtube.png", alt="")
			.footer__item
				a(href="#").footer__item_title Главная
				ul.footer__item_list
					li
						a(href="") Каталог
					li
						a(href="") Галерея
					li
						a(href="") Производство
					li
						a(href="") О компании
					li
						a(href="") Новости
			.footer__item
				p.footer__item_title О компании
				ul.footer__item_list
					li
						a(href="") Контакты
					li
						a(href="") Оплата и доставка
					li
						a(href="") Частые вопросы
					li
						a(href="") Отзывы
					li
						a(href="") Про лестницы
					li
						a(href="") Галерея с работами
			.footer__item
				p.footer__item_title Контакты
				ul.footer__item_list
					li
						a(href="tel:+73452718030") +7 (3452) 71-80-30
					li
						a(href="mailto:info@druganov.com") info@druganov.com
					li
						a(href="") г. Тюмень, ул. Закалужская, 83/4,<br> ЦЗД Усадьба ЦЗД Усадьба, 2 этаж
				p.footer__item_descr График работы
				span пн - пт с 9:30 до 18:00
				span сб, вс с 10:00 до 17:00
	.footer__bottom.flex
		.footer__bottom__item.flex
			a.footer__bottom_link(href="") Политика конфиденциальности
			span.footer__bottom_descr  ОГРН: 1177232011153
		.footer__bottom__item.flex
			span.footer__bottom_copy © 2020. Все права защищены
			span.footer__bottom_descr  ИНН/КПП 7203289327/720301001






























