header.header
	.container
		.header__row.flex
			a.logo(href="#")
				img(src="img/home/logo.svg")
			.header__menu
				nav.nav
					.nav__toggle
					ul.nav__list
						each value, index in {'ГЛАВНАЯ' : 'home','контакты' : 'contacts', 'ОПЛАТА И ДОСТАВКА' : 'about', 'ЧАСТЫЕ ВОПРОСЫ' : 'services', 'ОТЗЫВЫ' : 'partners'}
							li
								a(href= "#" + value)= index
			.header__contacts.flex
				a.header__tel.tel(href="tel:+70000000000") +7 (3452) 71-80-30
				a.header__callorder.cd-popup-trigger-callorder-js(href="#") Заказать звонок



