extends layout/main

block variables
  - let title = 'Про лестницы - информация для посетителей. Студия лестниц'



block content
  include section-about-frames/about
  include section-about-frames/types-frames
  include section-about-frames/articles
