extends layout/main

block variables
  - let title = 'Металлические лестницы от компании Студия лестниц. Тюмень'



block content
  include sections-metal-frame-all/main
  include sections-metal-frame-all/desc
  include sections-metal-frame-all/more
  include sections-metal-frame-all/of-what
  include sections-metal-frame-all/rough-metal
  include sections-metal-frame-all/child
  include sections-metal-frame-all/steps
  include sections-metal-frame-all/blue-sec
  include sections-metal-frame-all/call-back
