extends layout/main

block variables
  - let title = 'Лестницы на металличесом каркасе | Лонгрид'



block content
  include section-metal-frame/begin
  include section-metal-frame/process
  include section-metal-frame/color
  include section-metal-frame/consultation
  include section-metal-frame/result
  include section-metal-frame/popularity
