extends layout/main

block variables
  - let title = 'Лестницы на металличесом каркасе | Лонгрид'



block content
  include section-open-frame/review
  include section-open-frame/description
  include section-open-frame/photos

