extends layout/main

block variables
	- let title = 'Название - Страница'



block content
	include sections-page/section1





//- block libs-css
	//- библиотека.css
	link(rel="stylesheet" href="libs/library/library.css")
	link(rel="stylesheet" href="css/styles.css")

//- block libs-js
	//- библиотека.js
	script(src="libs/library/library.js")
	script(src="js/scripts.js")