extends layout/main

block variables
	- let title = 'Заказать бетонную лестницу в Тюмени — Студия лестниц'



block content
	include sections-type-stairs/manufacturer
	include sections-type-stairs/about
	include sections-type-stairs/types
	include sections-type-stairs/advantage
	include sections-type-stairs/produce
	include sections-type-stairs/video
	include sections-type-stairs/production
	include sections-type-stairs/offer
	include sections-type-stairs/reasons
	include sections-type-stairs/callback
