include ../pug-modules/mixins
block variables

doctype html
html(lang="ru")

	head
		meta(charset="utf-8")
		title #{title}
		meta(http-equiv='X-UA-Compatible', content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no")

		link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")
		meta(name="theme-color" content="#000")
		meta(name="msapplication-navbutton-color" content="#000")
		meta(name="apple-mobile-web-app-status-bar-style" content="#000")

		block libs-css
		link(rel="stylesheet" href="css/styles.css")

	body 


		.page

			// header
			include ../sections/header
			// /.header


			block content



			// footer
			include ../sections/footer
			include ../sections/szpopup
			// /.footer

		// /.page

		// Скрипты
		include ../pug-modules/scripts