.metal-frame__begin
	font-family: $subfont-g
	p
		font-size: 18px

	.n-container
		margin-top: 50px
		justify-content: space-between

		.left
			max-width: 47%
			flex-grow: 47%

			h1
				color: $l-blue
				line-height: 60px
				@media (max-width : 991px)
					line-height: 50px
				@media (max-width : 575px)
					line-height: 40px
				@media (max-width : 480px)
					line-height: 30px

		.right
			max-width: 45%
			flex-grow: 45%
			display: flex
			justify-content: center

			a
				width: 80%

	// MEDIA =========
	@media (max-width : 1229px)
		.container
			.right
				a
					width: 100%
	@media (max-width : 991px)
		.container
			flex-direction: column
			align-items: center

			.left
				max-width: 90%
				flex-grow: 90%
				margin-bottom: 50px

			.right
				max-width: 70%
				flex-grow: 70%
	@media (max-width : 767px)
		.container
			.right
				max-width: 90%
				flex-grow: 90%
