.metal-frame__color
  .frames
    justify-content: space-between
    .left
      max-width: 60%
      flex-grow: 60%

      .desc
        padding: 25px
        border: 1px solid #dcdcdc
        background-color: #f7f7f7
        margin-bottom: 30px
        @media (min-width: 992px)
          &:last-child
            margin-bottom: 0px

    .right
      max-width: 35%
      flex-grow: 35%

      a
        img
          width: 100%
          height: 100%
          object-fit: cover

  // MEDIA =============
  @media (max-width: 992px)
    .n-container
      .frames
        flex-direction: column
        align-items: center
        .left
          max-width: 100%
          flex-grow: 100%
          margin-bottom: 30px
        .right
          max-width: 70%
          flex-grow: 70%

  @media (max-width : 767px)
    .n-container
      .frames
        .right
          max-width: 100%
          flex-grow: 100%
