.metal-frame__consultation
  .n-container
    justify-content: space-between

    .left,
    .right
      max-width: 25%
      flex-grow: 25%

      a
        width: 100%
        height: 100%
        img
          width: 100%
          height: 100%
          object-fit: cover

    .center
      max-width: 35%
      flex-grow: 35%
      position: relative

      .n-button
        margin: 50px auto 0

  @media (max-width : 991px)
    .n-container
      flex-direction: column
      align-items: center

      .left,
      .right
        max-width: 50%
        flex-grow: 50%
      .center
        margin: 60px 0
        max-width: 60%
        flex-grow: 60%

  @media (max-width : 767px)
    .n-container
      .left,
      .right
        max-width: 100%
        flex-grow: 100%
      .center
        max-width: 100%
        flex-grow: 100%
