.metal-frame
  font-family: $subfont-g
  padding-bottom: 75px

  p
    font-size: 16px

  .n-button
    max-width: 320px
    flex-grow: 320px

  .border-right
    box-shadow: 15px 15px #3286aa
  .border-left
    box-shadow: -15px 15px #3286aa

  @media (max-width: 768px)
    .n-container
      // width: 90%
      h2
        text-align: center
