.metal-frame__popularity
  p
    padding-right: 100px
    @media (max-width : 991px)
      padding-right: 0
    @media (max-width : 768px)
      // text-align: center

  .number
    p
      font-size: 20px
      color: $l-blue
      font-weight: 600
      a
        text-decoration: underline
