.metal-frame__process
  p
    font-size: 16px
  h2
    margin-bottom: 35px

  .images
    justify-content: space-between
    a
      margin-top: 35px
      max-width: 48%
      flex-grow: 48%
      border: 1px solid #dcdcdc

  // MEDIA ==========
  @media (max-width: 768px)
    .images
      flex-direction: column
      align-items: center
      a
        max-width: 100%
        flex-grow: 100%
