.metal-frame__result
  h2
    color: $l-blue

  .left_right
    justify-content: space-between
    .left
      max-width: 40%
      flex-grow: 40%
      p
        margin-top: 25px
    .right
      max-width: 55%
      flex-grow: 55%
      a
        display: block
        width: 100%
        height: 80%
        img
          display: block
          height: 100%
          width: 100%
          object-fit: cover
          object-position: center
          box-shadow: 15px 15px $l-blue, 30px 30px $d-blue

          @media (max-width : 767px)
            box-shadow: none

  .request
    justify-content: space-between
    align-items: center
    p
      font-weight: 600
      font-size: 18px
      line-height: 1.6
      margin: 0
      @media (max-width : 767px)
        br
          display: none

  // MEDIA ======
  @media (max-width : 1229px)
    .left_right
      margin-bottom: 50px
      .right
        a
          height: 100%

  @media (max-width : 991px)
    .left_right
      flex-direction: column-reverse
      align-items: center
      .left,
        max-width: 100%
        flex-grow: 100%

      .right
        margin: 30px 0
        max-width: 80%
        flex-grow: 80%

    .request
      justify-content: center
      text-align: center

  @media (max-width : 767px)
    .left_right
      .right
        max-width: 100%
        flex-grow: 100%
