@import "_include/vars"
@import "_include/mixins"

@import "_include/fonts"
@import "_include/libs"
@import "_include/reset"
@import "_include/common"

/* ------------------------------------- 
 Modules 
 ------------------------------------- */
//@import "_modules/forms"

/* ------------------------------------- 
 Sections 
 ------------------------------------- */
@import "_sections/header"
@import "_sections/footer"
@import "_sections/szpopup"

/* ------------------------------------- 
 Main page 
 ------------------------------------- */
@import "_sections-index/about"
@import "_sections-index/hero"
@import "_sections-index/steps"
@import "_sections-index/catalog"
@import "_sections-index/production"

/* ------------------------------------- 
 Page
 ------------------------------------- */
@import "_sections-page/section"
@import "_sections-type-stairs/type-stairs-page"

/* ------------------------------------- 
 Page metal-frame
 ------------------------------------- */
@import "_sections-metal-frame/general"
@import "_sections-metal-frame/begin"
@import "_sections-metal-frame/process"
@import "_sections-metal-frame/color"
@import "_sections-metal-frame/consultation"
@import "_sections-metal-frame/result"
@import "_sections-metal-frame/popularity"

/* ------------------------------------- 
 Open-frame
 ------------------------------------- */
@import "_sections-open-frame/review"
@import "_sections-open-frame/description"
@import "_sections-open-frame/photos"

/* ------------------------------------- 
 About-frame
 ------------------------------------- */
@import "_sections-about-frames/_about"
@import "_sections-about-frames/_types-frames"
@import "_sections-about-frames/_articles"

/* ------------------------------------- 
 Metal-frame-all
 ------------------------------------- */
@import "_sections-metal-frame-all/general"
@import "_sections-metal-frame-all/main"
@import "_sections-metal-frame-all/desc"
@import "_sections-metal-frame-all/more"
@import "_sections-metal-frame-all/of-what"
@import "_sections-metal-frame-all/rough-metal"
@import "_sections-metal-frame-all/child"
@import "_sections-metal-frame-all/steps"
@import "_sections-metal-frame-all/blue-sec"
@import "_sections-metal-frame-all/call-back"
