section.metal-frame-all__call-back.metal-frame-all.sec-pt
  .container.n-container
    .title.tac Мы перезвоним Вам практически мгновенно!
    .call.flex
      p.text-blue Выбираете лестницу? Оставьте заявку, и мы предложим вам несколько вариантов
      a(href="#").button Перезвоните мне
