section.metal-frame-all__child.metal-frame-all.sec-pt.sec-bg
  .container.n-container.flex
    .left
      .left_img
        img(src="img/metal-frame-all/img6.jpg", alt="").img
      p Детская безопасностьКаждый проект проверяют инженеры штата - сверяют промежутки, со всех ракурсов анализируют, будет ли какой-то участок опасен для ребенка. Если что-то на так - на чертеже все легко исправить, а металл дает возможность внести любые правки в ваш проект.
    .right
      .h2 Детская безопасность
      p Использовать возможности металла можно не только ради крутого дизайна, но и для того, чтобы объект был для всех безопасен - и для обычного человека, и для ребенка, и для животного. На этапе разработки проекта мы учитываем все мелочи. Если нужно, мы сделаем лестницу без острых углов или узких промежутков в рейках.
