section.metal-frame-all__desc.metal-frame-all.sec-pt
  .container.n-container.flex
    .left
      img(src="img/metal-frame-all/img2.jpg", alt="").img
    .right
      .h2 Металлические лестницы
      p Владельцы офисов и частных домов часто бывают у нас на консультациях - мы разбираемся, какой тип лестницы подойдет для их планировки и помещения. Начинаем с размера, подбираем конструкцию, но внимательнее всего выбираем базу и материал. От него будет зависеть все остальные параметры. Мы делаем так, что готовый вариант проекта ничем не отличается от начального - и это результат правильного выбора основы. Сегодня говорим о металлических лестницах.

