section.metal-frame-all__main.metal-frame-all
  .main(style="background-image: url('img/metal-frame-all/img1.jpg')").flex
    h1.h1 Металлические лестницы
    p Полный лонгрид о силах и слабостях металлических лестниц и о том, как грамотно инвестировать в свой комфорт
