section.metal-frame-all__more.metal-frame-all.sec-pt
  .title-32.tac Подробнее о металлических лестницах
  .sec-bg
    .container.n-container.sec-pt
      .h2 Преимущества
      p “Может, деревянную лучше? Металлические шаткие какие-то." Нам часто приходится показывать клиентам, как на самом деле деревянные лестницы сдают перед металлическими. И тут они обыгрывают остальные типы со счетом 3:0
      .left_right.flex
        .left
          img(src="img/metal-frame-all/img3.jpg", alt="")
        .right
          ul
            li
              h4 Материал
              p Металлические лестницы устойчивее - они остаемся в том же состоянии даже при постоянном физическом воздействии, изменении влажности, при смене температур. Технологии сплавов позволяют металлическим лестницам противостоять даже ржавчине. У деревянных лестниц с этим хуже: они рассыхаются, со временем появляются трещины, и они вредят самой конструкции.
            li
              h4 Устойчивость
              p Лестницы имеют свойство изнашиваться. И сильнее всего это вредит деревянным - от частого соприкосновения конструкция постепенно расшатывается, а лестница начинает скрипеть. Металлическим конструкциям это не грозит - части не взаимодействуют друг с другом, а места соединения плотно склеены герметиком.
            li
              h4 Ремонт
              p Из предыдущего факта становится ясно, что металлические лестницы гораздо проще ремонтировать - достаточно заменить поврежденную ступеньку или поправить несущую часть. В случае, например, с деревянными лестницами, такое будет сложно сделать. Поэтому если что-то происходит с такой конструкцией, ее чаще всего меняют целиком - это дороже и дольше.


