section.metal-frame-all__of-what.metal-frame-all
  .container.n-container.flex
    .left
      .h2 А из чего?
      p Технологии сплавления спасают материал от ржавчины, хрупкости, а сплавляемые металлы взаимно укрепляют общий состав. На консультациях с клиентами мы индивидуально выбираем подходящий вариант. Весь процесс создания и обработки материала для лестниц соответствует ГОСТу и СНиПу.
        br
        span Не важно, какой материал вы выберите, он будет одинаково безопасен для регулярного использования.
    .right
      img(src="img/metal-frame-all/img4.jpg", alt="").img
