section.metal-frame-all__rough-metal.metal-frame-all.sec-pt
  .container.n-container
    .h2 Грубый металл и дизайнерские решения
    .left_right.flex
      .left
        img(src="img/metal-frame-all/img5.jpg", alt="")
      .right
        p Мы не знаем, откуда взялся слух о том, что с металлическими лестницами дизайнерам работать сложнее, чем с остальными. Металлические части можно сплавлять и превращать в единые детали, делать конструкции большими и сложными. Что уж говорить о ковке. Металлические части при термической обработке можно деформировать, как диктует фантазия.
        p.text-blue Такое же можно делать и с деревом, и с бетоном, но составные части между собой необходимо будет скреплять механически. А это уже риск - цельная конструкция крепче, чем конструкция из составных частей.
        p Металлические детали в лестничной конструкции удобно калибровать по толщине и высоте. Это позволяет дизайнерам не ограничиваться размерами образцов материала и опираться только на условия помещения и пожелания заказчика.

