mixin step(step, p, link)
  .steps-list_item
    span=step
    p=p
      a(href="#")=link

section.metal-frame-all__steps.metal-frame-all.sec-pt
  .container.n-container
    .h2 Выбираем лестницу: #[span 5 шагов перед покупкой]
    .steps-list.flex
      +step('Шаг 1', 'Определите габариты и размер самой конструкции. Для компактных помещений с маленькими окнами подойдут лестници поуже и с перилами потоньше, чтобы создавать видимое воздушное пространство. Для больший помещений можно использовать конструкции массивнее.')
      +step('Шаг 2', 'Выбираем конструкцию лестницы: винтовые более компактные, но они менее безопасны для детей пожилых людей. Стандартные занимают чуть больше объема пространства.')
      +step('Шаг 3', 'Определите материал, из которого будет готова ваша лестница (Помните о фактах из самых первых пунктов нашей статьи)')
      +step('Шаг 4', 'Консультация с инженером и дизайнером - они помогут вам собрать все ваши идеи воедино: продумают конструкцию и создадут макет, в котором лестница будет подходить и под размеры помещения, и под его дизайн. Рассчитать стоимость лестницы можно в нашем ', 'калькуляторе')
      +step('Шаг 5', 'Контроль безопасности. Визуально на чертеже уделите внимание уязвимым частям будущего проекта - где стоит скорректировать перила или сгладить углы. Лучше всего проводить это в режиме консультации со специалистами.')

