.type-stairs__about
	padding-bottom: 70px
	font-family: $subfont-g
	font-size: 16px
	line-height: 1.5

	.about__img,
	.about__text
		flex: 1 1 50%

	.about__img
		max-width: 560px
		min-height: 305px

	.about__text
		padding-left: 80px

	.about__text_title
		font-family: $subfont-b
		font-size: 36px
		font-weight: 700
		color: $d-blue

@media (max-width : 1229px)
	.type-stairs__about
		text-align: center

		.about__wrapper
			justify-content: center

		.about__img,
		.about__text
			flex: 1 1 100%

		.about__text
			padding: 0

@media (max-width : 1229px)
	.type-stairs__about
		.about__title
			font-size: 36px
