.type-stairs__advantage
	padding-bottom: 70px
	font-size: 16px
	font-family: $subfont-g

	.advantage__wrapper
		justify-content: space-between
		gap: 40px

	.advantage__wrapper_img
		margin-top: 25px
		margin-bottom: 45px
		flex-direction: column
		text-align: center
		gap: 30px
		width: 260px
		height: 240px
		border: 1px solid #eee

	.advantage__img
		width: 260px
		height: 140px

@media ( max-width: 1229px )
	.type-stairs__advantage
		text-align: center

		.advantage__wrapper
			justify-content: center

		.advantage__wrapper_img
			margin-bottom: 0

@media ( max-width: 480px )
	.type-stairs__advantage

		.advantage__title
			font-size: 36px
