.type-stairs__callback
	padding-bottom: 70px
	font-family: $subfont-g
	font-size: 20px
	color: $l-blue

	.callback__wrapper
		gap: 65px

	.callback__descr
		max-width: 570px

	.callback__btn.button
		max-width: 280px

@media ( max-width: 1229px )
	.type-stairs__callback
		text-align: center

		.callback__wrapper
			justify-content: center

@media ( max-width: 480px )
	.type-stairs__callback
		.callback__title
			font-size: 36px
