.type-stairs__manufacturer
	padding-top: 145px

	.manufacturer__text
		flex: 1 1 40%
		padding-top: 45px
		padding-right: 65px

	.manufacturer__text_title
		color: $subaccent
		line-height: 1.2

	.manufacturer__text_descr
		font-family: $subfont-g
		font-size: 16px
		line-height: 1.55

	.manufacturer__text_btn.button
		max-width: 260px
		&::before,
		&::after
			right: 10%

	.manufacturer__img
		flex: 1 1 55%

	.manufacturer__text_btn--mobile
		display: none

@media (max-width : 1229px)
	.type-stairs__manufacturer

		.manufacturer__text,
		.manufacturer__img
			flex: 1 1 100%

		.manufacturer__text
			padding-top: 0
			padding-right: 15px
			text-align: center

		.manufacturer__text_btn
			display: none

		.manufacturer__text_btn--mobile
			display: flex
			margin: 30px auto 0 auto

@media (max-width : 479px)
	.type-stairs__manufacturer

		.manufacturer__text_title
			font-size: 40px
