.type-stairs__offer
	padding-bottom: 70px
	font-family: $subfont-g
	font-size: 16px
	line-height: 1.55

	.offer__wrapper
		margin-bottom: 20px
		padding: 30px 90px
		justify-content: center
		align-items: center
		flex-wrap: nowrap
		gap: 40px
		min-height: 120px
		color: $white
		font-weight: 600

	.offer__btn
		margin: 75px auto 0 auto
		max-width: 240px
		font-size: 16px

@media (max-width: 1229px)
	.type-stairs__offer
		text-align: center

		.offer__wrapper
			padding: 30px

@media ( max-width: 767px )
	.type-stairs__offer
		.offer__wrapper
			flex-wrap: wrap
			background: $d-blue !important
