.type-stairs__production
	padding-bottom: 70px
	font-family: $subfont-g
	font-size: 16px

	.production__wrapper
		justify-content: space-between
		gap: 20px

	.production__item
		padding: 20px
		padding-top: 50px
		align-items: center
		max-width: 218px
		min-height: 230px
		background: $white
		border: 1px solid #eee
		flex-direction: column
		text-align: center

	.production__item_img
		padding-bottom: 15px

	.production__item_link
		color: $l-blue

@media	(max-width:1229px)
	.type-stairs__production
		text-align: center
		.production__wrapper
			justify-content: center

@media	(max-width:480px)
	.type-stairs__produce
		.production__title
			font-size: 36px
