.type-stairs__produce
	padding-bottom: 70px
	font-family: $subfont-g
	font-size: 16px
	line-height: 1.55

	.produce__wrapper
		padding-top: 20px
		justify-content: center
		gap: 40px

	.produce__item
		padding: 30px
		flex-direction: column
		justify-content: center
		align-items: center
		max-width: 360px
		min-height: 280px
		background-color: $white
		border: 1px solid #eee
		text-align: center

	.produce__item_title
		margin-top: 10px
		font-family: $subfont-b
		font-size: 24px
		font-weight: 700
		color: $l-blue

	.produce__item_img
		width: 65px
		height: 65px

@media ( max-width: 1229px )
	.type-stairs__produce
		text-align: center

@media ( max-width: 480px )
	.type-stairs__produce
		.produce__title
			font-size: 36px
