.type-stairs__reasons
	padding-bottom: 70px
	font-family: $subfont-g
	font-size: 16px

	.reasons__wrapper
		gap: 25px
		justify-content: center

	.reasons__item
		padding: 30px 70px
		max-width: 370px
		width: 100%
		min-height: 110px
		background: $white
		border: 1px solid #eee

	.reasons__item_descr
		display: inline

		span
			color: $l-blue
			font-weight: 700

@media ( max-width:1229px)
	.type-stairs__reasons
		text-align: center
@media ( max-width:480px)
	.type-stairs__reasons
		.reasons__title
			font-size: 36px
