.type-stairs__types
	padding-bottom: 70px
	font-family: $subfont-g
	line-height: 1.55
	font-size: 16px

	.types__wrapper
		margin-top: 30px
		margin-bottom: 30px
		gap: 15px
		justify-content: center

	.types__wrapper_img
		flex-direction: column
		justify-content: center
		align-items: center

		span
			margin-top: 10px
			font-family: $subfont-b
			font-weight: 700
			color: $d-blue

	.types__img
		width: 220px
		height: 120px

@media (max-width: 1229px)
	.type-stairs__types
		text-align: center

@media (max-width: 480px)
	.type-stairs__types
		.types__title
			font-size: 36px
