.type-stairs__video
	padding-bottom: 40px

@media ( max-width: 1229px )
	.type-stairs__video
		text-align: center

@media ( max-width: 480px )
	.type-stairs__video
		.video__title
			font-size: 36px

/* Lazyload iframe YOUtube
.youtube
	background-color: #000
	margin-bottom: 30px
	position: relative
	padding-top: 56.25%
	overflow: hidden
	cursor: pointer
	width: 100%

	img
		width: 100%
		top: -16.82%
		left: 0
		opacity: 0.7

	.play-button
		width: 90px
		height: 60px
		background-color: #333
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.6)
		z-index: 1
		opacity: 0.8
		border-radius: 6px

		&:before
			content: ""
			border-style: solid
			border-width: 15px 0 15px 26.0px
			border-color: transparent transparent transparent #fff

	img, .play-button
		cursor: pointer

	img,
	iframe,
	.play-button
		position: absolute
		top: 50%
		left: 50%
		transform: translate3d(-50%, -50%, 0)

		&:before
			position: absolute
			top: 50%
			left: 50%
			transform: translate3d(-50%, -50%, 0)

	iframe
		height: 100%
		width: 100%
