section.about-frames__about.about-frame.sec-pt
  .container
    h1.h1 Про лестницы
    h2.h2 информация для посетителей сайта

    .abouts
      p Изготовление лестниц для частных домов — это узкая ниша для профильных специалистов. Для того чтобы разобраться в ней как следует требуется в среднем несколько лет опыта. Даже строители со стажем и архитекторы с высшим образованием часто совершают грубые ошибки при проектировании и изготовлении лестниц.
      p На наш взгляд, низкая информированность о нюансах, связанных с лестницами связана с тем что исторически у русских людей нет опыта проживания в двухэтажных домах.
      p Если уйти в историю, то раньше были только одноэтажные избы, за редким исключением двухэтажных домов, принадлежащих высокопоставленным персонам. Затем многоэтажки из бетона и кирпича.
      p Как правило, опыт взаимодействия обычного человека с лестницей сводился к периодическому использованию деревянной скрипучей лестнице на даче. Поэтому в лестницах там много мифов и так мало настоящих экспертов.
      p Для того, чтобы стать специалистом, требуется испортить примерно 7−10 лестниц и потратить несколько месяцев на изучение теоретической части. Поэтому мы советуем доверить изготовление лестницы на заказ профильным специалистам и не экспериментировать самостоятельно или с мастером с Авито.
