mixin articles_list-item(src, h3, p)
	.articles_list-item
		a(href="#")
			img(src=src, alt="").img
			h3=h3
			p=p

section.about-frames__articles.about-frame.sec-pt
	.container
		.articles_list.flex
			+articles_list-item('img/about-frames/img7.jpg', 'Дизайны лестниц в Тюмени - что выбирать?', 'Большой лонгрид о самых популярных стилях оформления лестниц, которые производит "Студия Лестниц". Здесь мы рассказали об особенностях стиля и материалах, чтобы вы смогли подобрать стиль будущего проекта для вашего помещения.')
			+articles_list-item('img/about-frames/img8.jpg', 'Лестницы на металлическом каркасе | Лонгрид', 'Лестница на металлическом каркасе в частный дом - популярное решение в современном Загородном домостроении. На данном примере объекта в Тюмени')
			+articles_list-item('img/about-frames/img9.jpg', 'Лестница в дом от компании Студия лестниц в Тюмени', 'Лонгрид о популярном запросе клиентов - лестница в дом. Разобрали, какой подойдет материал, добавили 5 критериев, чтобы вам было проще выбирать.')
			+articles_list-item('img/about-frames/img10.jpg', 'Лестницы на металлокаркасе от компании Студия лестниц', 'Это лонгрид о нашем бестселлере. Рассказали, чем же лестницы на металлокаркасе так хороши. Расписали преимущества и особенности таких конструкций.')
			+articles_list-item('img/about-frames/img11.jpg', 'Деревянные лестницы от компании Студия лестниц. Тюмень.', 'Этот текст о деревянных лестницах: обсудим минусы и плюсы, расскажем вам про материалы, покажем свои работы.')
			+articles_list-item('img/about-frames/img12.jpg', 'Лестницы на заказ в Тюмени и области - Студия лестниц', 'Лонгрид о том, почему лестницу стоит заказать индивидуально вместо шаблонной покупки готовой модели. Рассказали про этапы работы и преимущества тоже здесь.')
			+articles_list-item('img/about-frames/img13.jpg', 'Металлические лестницы от компании Студия лестниц. Тюмень', 'Полный лонгрид о силах и слабостях металлических лестниц и о том, как грамотно инвестировать в свой комфорт')
			+articles_list-item('img/about-frames/img14.jpg', 'Лестницы из массива от компании Студия лестниц в Тюмени', 'Полный лонгрид о силах и слабостях лестниц из массива и о том, как грамотно инвестировать в свой комфорт')

	.request.sec-bg
		.container.n-container
			p Выбираете лестницу? Или хотите оставить свой отзыв? Просто оставьте заявку
			a(href="#").button.n-button Оставить заявку
