section.about-frames__types-frames.about-frame.sec-pt.sec-bg
  .container
    p В Тюмени и области мы изготовили и установили уже свыше 18 000 ступеней лестниц и прошли путь экспертов в своей нише. Для наших клиентов мы предлагаем все виды лестниц от производителя:

    .frames_list.flex
      .frames_list-item
        a(href="#")
          img(src="img/about-frames/img1.jpg", alt="").img
          span деревянные
      .frames_list-item
        a(href="#")
          img(src="img/about-frames/img2.jpg", alt="").img
          span металлические
      .frames_list-item
        a(href="#")
          img(src="img/about-frames/img3.jpg", alt="").img
          span стеклянные
      .frames_list-item
        a(href="#")
          img(src="img/about-frames/img4.jpg", alt="").img
          span бетонные
      .frames_list-item
        a(href="#")
          img(src="img/about-frames/img5.jpg", alt="").img
          span из нержавеющей стали
      .frames_list-item
        a(href="#")
          img(src="img/about-frames/img6.jpg", alt="").img
          span кованые

    .black-text
      p В данном разделе можно прочитать полезную информацию и посмотреть фото лестниц и различные идеи для вашего интерьера с лестницей.
      p Вы можете #[a(href="#") отправить нам запрос] на любую интересующую вас тему и получить техническую консультацию и расчет стоимости желаемой лестницы.
